@use "../abstracts/colors" as c;

.media__card{
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    background-color: c.$very-dark-grayish-blue;
    z-index: 10;

    a{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    img{
        height: 100%;
        width: 100%;
    }

    :nth-child(1){
        letter-spacing: 1px;
    }

    :nth-child(4){
        margin-right: 110px;
    }
}

.media__share{
    height: 100%;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark__bg{
    background-color: c.$grayish-blue;
}

.hidden{
    display: none;
}

@media screen and (min-width: 1000px) {
    .media__card{
        width: 250px;
        height: 50px;
        position: absolute;
        right: -70px;
        bottom: 100px;
        border-radius: 10px;
        box-shadow: 0 5px 10px 2px rgb(0 0 0 / .1);
        justify-content: space-evenly;

        ::after{
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            top: 80%;
            left: 50%;
            background-color: c.$very-dark-grayish-blue;
            z-index: -1;
            transform: translate(-50%, 0) rotate(45deg);
        }
    }

    .media__share{
        margin: 0;
        justify-content: space-evenly;

        :nth-child(4){
            margin: 0;
        }
    }
    
}
