@use "../abstracts/colors" as c;

*{
    font-family: "Manrope", sans-serif;
}

.card__title{
    color: c.$very-dark-grayish-blue;
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.4rem;
}

.card__text{
    color: c.$desaturated-dark-blue;
    font-weight: 500;
    font-size: 13.7px;
    line-height: 1.3rem;
}

.profile__name{
    color: c.$very-dark-grayish-blue;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.8;
}

.profile__date{
    color: c.$grayish-blue;
    font-weight: 500;
}

.media__text{
    color: c.$grayish-blue;
    font-weight: 500;
}