html, body {
  min-height: 99.9vh;
}

body {
  background-color: #ecf2f8;
  padding-top: 1px;
}

* {
  font-family: "Manrope", sans-serif;
}

.card__title {
  color: #48556a;
  font-weight: 700;
  font-size: 1.05rem;
  line-height: 1.4rem;
}

.card__text {
  color: #6d7f97;
  font-weight: 500;
  font-size: 13.7px;
  line-height: 1.3rem;
}

.profile__name {
  color: #48556a;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.8;
}

.profile__date {
  color: #9eafc2;
  font-weight: 500;
}

.media__text {
  color: #9eafc2;
  font-weight: 500;
}

.media__card {
  font-size: 13px;
}

.card {
  width: 340px;
  margin: 70px auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card__img-container {
  height: 220px;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__info {
  padding: 35px;
  padding-bottom: 10px;
}

.card__title {
  margin-top: 0;
}

.card__profile {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.profile__img {
  width: 50px;
}
.profile__img img {
  width: 100%;
  border-radius: 50%;
}

.profile__text {
  margin-left: 15px;
}

.profile__media {
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  background-color: #ecf2f8;
  position: relative;
  z-index: 20;
}
.profile__media img {
  width: 40%;
  position: absolute;
  top: 12px;
  left: 12px;
}
.profile__media:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .card {
    width: 800px;
    height: 300px;
    margin-top: 25vh;
    display: flex;
    overflow: visible;
  }

  .card__img-container {
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    overflow: hidden;
  }
  .card__img-container img {
    object-fit: cover;
  }

  .card__info {
    width: 500px;
    padding: 35px;
  }

  .card__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.clear__arrow {
  filter: brightness(190%);
}

.media__card {
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  background-color: #48556a;
  z-index: 10;
}
.media__card a {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.media__card img {
  height: 100%;
  width: 100%;
}
.media__card :nth-child(1) {
  letter-spacing: 1px;
}
.media__card :nth-child(4) {
  margin-right: 110px;
}

.media__share {
  height: 100%;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark__bg {
  background-color: #9eafc2;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  .media__card {
    width: 250px;
    height: 50px;
    position: absolute;
    right: -70px;
    bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
  }
  .media__card ::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 80%;
    left: 50%;
    background-color: #48556a;
    z-index: -1;
    transform: translate(-50%, 0) rotate(45deg);
  }

  .media__share {
    margin: 0;
    justify-content: space-evenly;
  }
  .media__share :nth-child(4) {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
